.recent-eventImage {
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    height: 100px !important;
    width: 100px !important;
    margin: 0 10px 0 0;
}
.recent-eventTable {
    height: 600px !important;
}
.recent-event-body{

}
.recent-event-body tr{
    height: 100px;
}
.VuePagination {
    text-align: center;
}
